html {
    font-family: "Aviner Next", Arial, Helvetica, sans-serif;
    text-align: center;
} /*targets all html*/

body {
    max-width: 500px;
    margin: 0 auto;
} /*targets the whole body*/

input {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
}

input:focus {
    outline: none;
}

#todos {
    text-align: center;
}

li {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
}

footer {
    border: 2px solid salmon;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.delete_task {
    padding-bottom: 5px;
}


